<div class="menu-bar_container">

  <div class="menu-bar_logo">
    <img
    src="assets/ps-logo.png"
    alt="PlayStation-Logo"
    width="140px"
    height="32"
    >

  </div>

  <div class="menu-bar_item">
    <ul>
      <li>
        <a href="">
          <img src="assets/linkedin.png" alt="Linkedin" height="20px">
        </a>
        <a href="">LINKEDIN</a>
      </li>
      <li>
        <a href="">
          <img src="assets/youtube.png" alt="YouTube" height="20px">
        </a>
        <a href="">YOUTUBE</a></li>
      <li>
        <a href="">
          <img src="assets/github.png" alt="GitHub" height="20px">
        </a>
        <a href="">GITHUB</a>
      </li>
    </ul>
  </div>

</div>
